
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Global css style */
ul li a {
  text-decoration: none;
  color: #808080;
  transition: 0.3s;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.header-top-bar {
  background-color: #f7f5f2;
}

.header-top {
  display: flex;
  align-items: center;
}

.header-top .header-top-left {
  margin-right: 30px;
}

.header-top .header-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  /* margin: 0 -30px; */
}

.header-top .header-info li {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  color: #111;
  padding: 14px 30px 12px;
  position: relative;
}

.header-top .header-info li a {
  color: #181818;
}

.header-top .header-info li i {
  font-size: 15px;
  color: #ee4a62;
  padding-right: 10px;
  position: relative;
  top: 1px;
}

.header-top .header-top-right {
  flex: 1;
  text-align: right;
}

.header-top .header-info li a:hover {
  color: #ee4a62;
}

.header-top .header-info li {
  color: #181818;
  font-weight: 500;
}

/* header button  */
.header-top .header-info li.header-btn {
  padding: 0 30px 0 0;
}

.header-top .header-info li.header-btn .edu-btn {
  color: white;
  border-radius: 0;
  overflow: visible;
  background-color: #ee4a62;
}

a.edu-btn.btn-medium,
button.edu-btn.btn-medium {
  height: 50px;
  line-height: 51px;
  padding: 0 25px;
}

a.edu-btn,
button.edu-btn {
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  height: 60px;
  line-height: 62px;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 500;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 0 none;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.header-top .header-info li.header-btn .edu-btn i {
  color: white;
  padding-right: 0;
  font-size: 11px;
  top: 0;
}

.header-top .header-info li:after {
  content: "";
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}
.header-top .header-info li:after {
  background-color: #e0ddd7;
  height: 30px;
  display: none;
}

.header-top .header-info li:first-child:after {
  display: block;
}

.edu-header .header-mainmenu {
  background-color: #fff;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.05);
  position: relative;
}

.header-navbar {
  display: flex;
  align-items: center;
}

.header-brand {
  display: flex;
  align-items: center;
}

.header-brand .logo {
  margin-right: 40px;
}

.header-navbar .header-mainnav {
  flex: 1;
}

.mainmenu {
  display: flex;
}
.header-mainmenu .mainmenu {
  justify-content: flex-end;
}

ul {
  list-style: none;
}
.mainmenu-nav .mainmenu > li > a {
  color: #181818;
  font-size: 15px;
  font-weight: 600;
  padding: 0 26px;
  display: block;
  height: 90px;
  line-height: 94px;
  transition: 0.3s;
}
.mainmenu-nav .mainmenu > li > a:hover {
  color: #1ab69d;
}

/* header button design */
.header-right {
  position: relative;
  margin-left: 22px;
  padding-left: 50px;
}

.header-action {
  display: flex;
  align-items: center;
  margin: 0 -16px;
}

.header-action li {
  margin: 0 16px;
}

.header-action li.icon a {
  font-size: 22px;
  color: #111;
  position: relative;
  height: 90px;
  line-height: 94px;
}

.header-action li.icon a .count {
  position: absolute;
  top: -8px;
  right: -10px;
  text-align: center;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 23px;
  border-radius: 50%;
  background-color: #ee4a62;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

/* .icon-3::before {
    content: "\f217";
    font-family: "FontAwesome";
  } */
